# analysis
numpy  
pandas 
nltk
scikit-learn
torch  --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio

#Topic Modelling 
gensim
top2vec
bertopic

#Llamma2 
huggingface-hub
datasets 
accelerate 
bitsandbytes 
xformers 
adjustText

# Graph 
matplotlib
seaborn 
plotly
scipy 
WordCloud
pyLDAvis

# Knowledge graph 
networkx

#Embeddings 
spacy

#ipynb 
ipykernel 

#.env 
python-dotenv

# web scraping 
selenium
undetected-chromedriver
scrapy

#whisper 
# ffmpeg
openai-whisper